header.contenedorBusqueda {
  display: flex;
  padding: 65.89px 165px 0 164px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.tituloPrincipal {
  width: 571px;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #572ee5;
  margin-bottom: 14px;
}

.dark h1.tituloPrincipal {
  color: #ffffff;
}

div.barraDeBusqueda {
  display: flex;
  width: 542px;
  height: 52px;
}

input {
  width: 100%;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  border-radius: 61px 0 0 61px;
  padding-left: 25px;
  border: 1px solid #121212;
}

.dark input {
  background-color: #373737;
  border: 1px solid #ffffff;
  color: #ffffff;
}

button {
  width: 86px;
  background: #572ee5;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 0px 61px 61px 0px;
  cursor: pointer;
}

.dark button {
  border: 1px solid #ffffff;
}

img.iconoLupa {
  margin: 16px 36px 16px 30px;
}

.listaItems {
  position: absolute;
  /*visibility: hidden;*/
  text-align: left;
  margin-top: 52px;

  cursor: pointer;
}

.listaItemsVisible {
  visibility: visible;
}

.listaItemsInvisible {
  display: none;
}

ul {
  list-style: none;
  font-weight: 200;
  font-size: 18px;
  line-height: 36px;
  width: 455px;
  padding-left: 25px;
  background-color: #ffffff;
}

li:hover {
  background-color: rgba(214, 209, 209, 0.616);
  width: 100%;
}
